index.html
<!DOCTYPE html>
<html ng-app="vendorcreation">
  <head>
    <title>KPIT : Vendor Creation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="app/images/favicon.png">
    <link type="text/css" rel="styleSheet" href="app/js/libs/angular/am/angular-material.css">
    <link type="text/css" rel="styleSheet" href="app/css/fonts/font.css">
    <link type="text/css" rel="styleSheet" href="app/css/md-steppers.css">
    <link type="text/css" rel="styleSheet" href="app/css/style.css">
  </head>
  <body layout="column" ng-cloak>
    <md-toolbar layout-align="center center" ng-cloak class="main-toolbar">
      <div style="background-color:#0194DA; border-bottom:10px solid #D7DF00;" class="md-toolbar-tools"><img ng-src="app/images/logo_small.png"><span style="font-size:1.5rem; margin-left:10px; margin-top:4px;">
          <h1>Vendor Creation</h1></span></div>
    </md-toolbar>
    <md-content flex ui-view layout="row" ng-cloak layout-align="center start" class="main-content"></md-content>
    <script type="text/javascript" src="app/js/libs/jquery/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/angular.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/angular-aria.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/am/angular-material.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/angular-messages.js"></script>
    <script type="text/javascript" src="app/js/libs/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/js/libs/md-steppers.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/factories/factories.js"></script>
    <script type="text/javascript" src="app/js/controllers/vendorDetailsController.js"></script>
  </body>
</html>

index.jade

doctype html
html(ng-app="vendorcreation")
	head
		title KPIT : Vendor Creation
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		//- meta(http-equiv='X-UA-Compatible', content='IE=11; IE=10; IE=9; IE=8;')
		//--------- CSS
		link(rel='icon', type='image/png', href='app/images/favicon.png')
		link(type="text/css", rel="styleSheet", href="app/js/libs/angular/am/angular-material.css")
		link(type="text/css", rel="styleSheet", href="app/css/fonts/font.css")
		link(type="text/css", rel="styleSheet", href="app/css/md-steppers.css")
		link(type="text/css", rel="styleSheet", href="app/css/style.css")
		//- link(type="text/css", rel="styleSheet", href="app/css/md-data-table.css")
		//- link(type="text/css", rel="styleSheet", href="app/js/plugins/angular/datettimepicker/css/material-datetimepicker.min.css")

	body(layout="column", ng-cloak)
		md-toolbar.main-toolbar(layout-align='center center',ng-cloak)
			.md-toolbar-tools(style="background-color:#0194DA; border-bottom:10px solid #D7DF00;")
				img(ng-src="app/images/logo_small.png")
				span(style="font-size:1.5rem; margin-left:10px; margin-top:4px;")
					h1 Vendor Creation
				

		md-content.main-content(flex, ui-view, layout="row", ng-cloak, layout-align="center start")

		//----------- LIBS
		script(type="text/javascript", src="app/js/libs/jquery/jquery-1.12.3.js")
		script(type="text/javascript", src="app/js/libs/angular/angular.js")
		script(type="text/javascript", src="app/js/libs/angular/angular-aria.js")
		script(type="text/javascript", src="app/js/libs/angular/angular-animate.js")
		script(type="text/javascript", src="app/js/libs/angular/am/angular-material.js")
		script(type="text/javascript", src="app/js/libs/angular/angular-messages.js")
		script(type="text/javascript", src="app/js/libs/angular/angular-ui-router.js")
		script(type="text/javascript", src="app/js/libs/md-steppers.js")
		//- script(type="text/javascript", src="app/js/libs/ng-file-upload.js")
		//- script(type="text/javascript", src="app/js/libs/moment.js")
		//- 
		//- //----------- PLUGINS
		//- script(type="text/javascript", src="app/js/plugins/angular/md-data-table.js")
		//- script(type="text/javascript", src="app/js/plugins/angular/ng-fx/ng-fx.js")
		//- script(type="text/javascript", src="app/js/plugins/angular/datettimepicker/js/angular-material-datetimepicker.min.js")
		//- script(type="text/javascript", src="app/js/plugins/FileSaver.min.js")

		//----------- APP & SERVICES
		script(type="text/javascript", src="app/js/app.js")
		script(type="text/javascript", src="app/js/factories/factories.js")
		script(type="text/javascript", src="app/js/controllers/vendorDetailsController.js")
		
		


	
